.overlayNav {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #000;
    background-image: url("../assets/wall-2059909.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.overlayNav-menu{
    height: 100%;
}

.overlayNav-list {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlayNav-list li{
    height: calc(70%/4);
    display: flex;
    align-items: center;
}

.overlayNav-list a {
    color: #fff;
    font-size: 2.25em;
    font-weight: 500;
}