.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #000;
    background-image: url("../assets/wall-2059909.png"); /* fallback */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url("../assets/wall-2059909.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.notFound h1{
    margin: 0;
    padding-top: 15vh;
    font-size: 9em;
    font-weight: 400;
    text-align: center;
    color: #fff;
 
}
.notFound p {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 2vh;
}
.notFound button{
    margin-top: 10vh;
    background: transparent;
    padding: 0.5em 0.8em;
    font-size: 1.5em;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #0073e6,
                0 0 0.8rem #0073e6,
                0 0 2.8rem #0073e6,
                inset 0 0 1.3rem #0073e6;
}
.notFound button:hover{
    background: #0073e6;
}
